$l: 'Layout';

/* NUXT default transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.#{$l} {
  max-width: 600px;
  margin: 0 auto;
}
